.about-container {
    display: flex; /* Use flexbox for horizontal layout */
    justify-content: center; /* Space between the images */
}

.leftimg,
.rightimg {
    width: 36%; /* Set width to 40% for both images */
    height: 800px; /* Set height to 800px */
    margin: 20px;
}

.leftimg img,
.rightimg img {
    width: 100%; /* Make the images fill their container */
    height: 100%; /* Maintain the height of the container */
    object-fit: cover; /* Cover the area without stretching */
}

.rightimg {
    display: flex;
    flex-direction: column; /* Stack text below the image */
    justify-content: flex-start; /* Align text at the top */
}

.leftimg img{
    margin-top: 100px;
}

.rightimg p {
    margin-top: 10px; /* Add some space above the text */
    text-align: justify; /* Justify text for better readability */
    margin-top: 30px;
    color: #333;
    font-weight: 400;
    line-height: 30px;
}

.rightimg h3 {
    margin-top: 10px; /* Add some space above the author name */
    text-align: start; /* Center the author name */
    color: #333;
    font-weight: 600;
    text-transform:uppercase
}
