/* BestQuality.css */
.bestQualityContainer {
    display: flex; /* Use flexbox for layout */
    align-items: center; /* Center align items vertically */
    justify-content: space-between; /* Space between left and right sections */
    padding: 20px; /* Add padding for better spacing */
    max-width: 1200px; /* Optional: Limit the max width */
    margin: 0 auto; /* Center the container */
    margin-top: 100px;
}

.bestQualityContent {
    flex: 1; /* Allow left content to take up available space */
    padding-right: 20px; /* Space between content and image */
}

.bestQualityImage {
    flex: 1; /* Allow the image to take up equal space */
    display: flex; /* Flexbox for alignment */
    justify-content: center; /* Center the image */
}

.bestQualityImage img {
    max-width: 100%; /* Responsive image */
    height: auto; /* Maintain aspect ratio */
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;

}

/* Update qualityFeatures section */
.qualityFeatures {
    margin-top: 20px; /* Add margin above properties */
}

.featureItem {
    display: flex; /* Use flexbox for property layout */
    align-items: center; /* Center items vertically */
    margin-bottom: 20px; /* Add space between each property */
}

.featureText {
    margin-left: 10px; /* Space between icon and text */
}

.featureText h4 {
    margin: 0; /* Remove margin */
    font-size: 1rem; /* Adjust heading size */
}

.featureText p {
    margin: 5px 0 0 0; /* Margin for the paragraph */
    color: #555; /* Text color for better readability */
}

/* Optional: Style the headings and paragraphs for better readability */
.bestQualityContent h1 {
    font-size: 2.8rem; /* Increase font size */
    margin-bottom: 15px; /* Add margin below heading */
}

.bestQualityContent p {
    line-height: 1.5; /* Increase line height for better readability */
    color: #7A7A7A; /* Set text color */
}


.icon{
    font-size: 23px;
}